body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.calculator {
    max-width: 400px;
    margin: auto;
    background-color: #333;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.screen {
    font-size: 2.5em;
    color: white;
    background-color: #333;
    border-radius: 10px;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

button {
    font-size: 1.5em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-secondary {
    background-color: #666;
    border: none;
}

.btn-warning {
    background-color: #ff9500;
    border: none;
}
